$biruz: #61a08d;
$l-biruz: #7ac8b4;
$alaska: #cc1216;
$egypt: #cc9312;
$zealand: #3f8f36;
$l-alaska: #fbd0d0;
$l-egypt: #fbf2d0;
$l-zealand: #d1face;
$alaska-buy: #770e10;
$egypt-buy: #cc9312;
$zealand-buy: #477142;

body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden !important;
}

@font-face{
  font-family: 'helvetica';
  src: url('fonts/Helvetica.otf');
}

@font-face{
  font-family: 'arial-black';
  src: url('fonts/ArialBlack.ttf');
}

@font-face{
  font-family: 'arial-narrow';
  src: url('fonts/ArialNarrow.ttf');
}

@font-face{
  font-family: 'cross-town';
  src: url('fonts/CrossTown.ttf');
}

@font-face{
  font-family: 'sports';
  src: url('fonts/SportsWorld.ttf');
}

@font-face{
  font-family: 'stolsl';
  src: url('fonts/Stolzl-Regular.otf');
}

@font-face{
  font-family: 'streamster';
  src: url('fonts/Streamster.ttf');
}

@font-face{
  font-family: 'calibri';
  src: url('fonts/Calibri.ttf');
}

@font-face{
  font-family: 'trebuchet';
  src: url('fonts/TrebuchetMS.ttf');
}

body::-webkit-scrollbar{
  width: 0;
}

.main-link{
  cursor: pointer;
}
.screen{
  position: absolute;
  width: 100%;
  .shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-image: url("images/h-shadow.png")
  }
  .line{
    margin-top: -30px;
    position: absolute;
    height: 230px;
    width: 100%;
    z-index: 40;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    .im-link{
      height: 100%;
      width: 25%;
      background-size: cover;
      background-position: center;
      &:hover{
        cursor: pointer;
        .text{
          animation: showText 0.5s;
          animation: topText 1s easy;
          opacity: 1;
          // transform: translateY(0px);
          transform: translate3d(0, 0px, 0);
        }        
        .hover{
          height: 100%;
          width: 100%;
          margin-left: 0%;
          margin-top: 0px;
          opacity: 1;
        }
      }
    }
    @keyframes topText{
      0%{
        // transform: translateY(25px);
        transform: translate3d(0, 25px, 0);
      }
      70%{
        // transform: translateY(25px);
        transform: translate3d(0, 25px, 0);
      }
      90%{
        // transform: translateY(5px);
        transform: translate3d(0, 0px, 0);
      }
      100%{
        // transform: translateY(0px);
        transform: translate3d(0, 0px, 0);
      }
    }
    @keyframes showText{
      0%{
        opacity: 0;
      }
      80%{
        opacity: 0;
      }
      81%{
        opacity: 1;
      }
      100%{
        opacity: 1;
      }
    }
    .text{
      position: absolute;
      width: 25%;
      text-align: center;
      font-size: 30px;
      color: white;
      font-weight: 600;
      font-family: 'helvetica';
      padding-top: 100px;
      opacity: 0;
      z-index: 51;
      transform: translate3d(0, 0px, 0);
    }
    .hover{
      opacity: 0;
      z-index: 50;
      position: relative;
      height: 0%;
      width: 0%;
      margin-left: 50%;
      margin-top: 115px;
      background-color: rgba(0,0,0,0.9);   
      transition: 0.5s;
    }
    .jungle{
      background-image: url("images/sm-back-01.png");
    }
    .sea{
      background-image: url("images/sm-back-02.png");
    }
    .hicing{
      background-image: url("images/sm-back-03.png");
    }
    .liveit{
      background-image: url("images/sm-back-04.png"); 
    }
  }  
}

#first{
  background-image: url('images/main.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  .big-logo{
    position: relative;
    width: 1100px;
    height: 400px;
    margin: 0px auto;
    transform: translateY(15%);
    z-index: 60;
    .logo{
      margin: 0px auto;
      height: 180px;
      width: 180px;
      background-image: url('images/logo.png');
      background-size: cover;
      background-repeat: no-repat;
    }    
    .logo-text{
      color: white;
      font-family: 'helvetica';
      font-size: 110px;
      text-align: center;
    }
  }
}

.biruz{
  background-color: $biruz !important;
  .light{
    position: relative;
    height: 66%;
    width: 40%;
    background-color: $l-biruz;
    background-image: url('images/palma.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    top: 17%;
  }
  .text{
    position: absolute;
    height: 60%;
    margin-top: 13%;
    font-size: 90px;
    line-height: 1.2;
    letter-spacing: 8px;
    font-weight: 500;
    color: black;
    z-index: 110;
    font-family: 'helvetica';
    width: 34%;
    text-align: center;
  }
}


#second{
  z-index: 100;
  top: 110%;
  .side-image{
    z-index: 120;
    position: absolute;
    height: 100%;
    width: 33%;
    background-color: grey;  
    cursor: pointer;
    transition: 1s;  
    &:hover{
      width: 68%;
      background-position: center;
    }
  }
  .left{
    left: 0px;
    background-image: url('images/left.jpg');
    background-position: right;
  }
  .right{
    right: 0px;
    background-image: url('images/right.jpg');
    background-position: left;
  }
  .tree-cont{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .tree{
      height: 100%;
      width: 34%;
      background-size: cover;
      background-color: grey;
    }
  }
}
.slide{
  transition: 2s;
  transform: translateX(0%) !important;
} 
.return{
  transition: 2s;
  transform: translateX(100%);    
}

#third{
  z-index: 200;
  top: 150%;
  width: auto;
  display: inline-block;
  .sea-modal-window{
    background-color: white;
    height: 100% !important;
    width: 100%;
    z-index: 500;    
  }
  .sea-01{
    // z-index: 200;
    position: relative;
    background-image: url('images/sea-01.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .sea-02{
    // z-index: 300;
    transform: translateX(100%);
    position: relative;
    background-image: url('images/sea-03.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  } 
  .sea-slide{
    transition: 2s;
    transform: translateX(0%);
  } 
  .sea-return{
    transition: 2s;
    transform: translateX(100%);    
  }
  .logo-cont{
    position: absolute;
    width: 270px;
    height: 60px;
    top: 20px;
    right: 30px;
    display: flex;
    flex-wrap: nowrap;
    .text{
      width: 210px;
      height: 60px;
      font-family: 'helvetica';
      color: white;
      font-size: 40px;
      padding-top: 10px;
    }
    .logo{
      height: 60px;
      width: 60px;
      background-image: url('images/logo.png');
      background-size: cover;
    }
  }
  .info-cont{
    position: relative;
    height: 300px;
    width: 1100px;
    margin: 0px auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: nowrap;
    .tours{
      min-width: 700px;
      max-width: 700px;
      height: 100%;
      .tour{
        height: 50%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.6s;
        &:hover{
          transform: scale(1.05, 1.05);
        }
        .title{
          text-align: center;
          color: white;
          font-family: 'helvetica';
          font-size: 50px;
          padding-top: 60px;
        }
      }
      .bali-tour{
        background-image: url('images/bali.jpg');
      }
      .LA-tour{
        background-image: url('images/LA.jpg');
      }
      .hawaii-tour{
        background-image: url('images/hawaii.jpg');
      }
      .point-lobos-tour{
        background-image: url('images/PointLobos.jpg');
      }
    }
    .desc{
      width: 100%;
      height: 100%;
      .title{
        position: absolute;
        top: -10px;
        font-size: 38px;
        padding-left: 50px;
        font-family: 'stolsl';
        color: white;
      }
      p{
        color: white;
        font-family: 'Arial';
        font-weight: 100;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 40px;
        padding-top: 50px;
        line-height: 20px;
      }
    }
  }
}

.modal-window{
  height: 105%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 800;
  background-color: white;
  display: none;
}
.open{
  display: block !important;
}
#fourth{
  top: 450%;
  background-color: white;
  z-index: 600;
  width: 100%;
  display: inline-block;
  background-image: url('images/sky.png');
  background-size: cover;
  background-position: center;
  .hic-modal-window{

  }
  .man{
    z-index: 700;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('images/man.png');
    background-size: cover;
    background-position: center;        
  }
  .logo-cont{
    position: absolute;
    width: 270px;
    height: 60px;
    margin-top: 20px;
    left: 30px;
    display: flex;
    flex-wrap: nowrap;
    z-index: 720;
    cursor: pointer;
    .text{
      width: 210px;
      height: 60px;
      font-family: 'helvetica';
      color: white;
      font-size: 40px;
      padding-top: 10px;
    }
    .logo{
      height: 60px;
      width: 60px;
      background-image: url('images/logo.png');
      background-size: cover;
    }
  }  
  .right{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('images/shadow.png');
    background-size: cover;
    background-position: left;
    z-index: 690;  
    .description{
      position: relative;
      height: 40%;
      width: 300px;
      top: 30%;
      left: 75px;
      color: white;
      // &:hover{
      //   background-color: grey;
      // }
      .title{
        font-size: 55px;
        font-family: 'arial-black';      
      }
      .text{
        padding-top: 15px;
        font-size: 15px;
        line-height: 1.5;
        font-family: 'Arial';
      }
    }
  }
  .name-tour{
    width: auto;
    position: absolute;
    color: white;
    font-size: 80px;
    right: 75px;
    z-index: 730;
    cursor: pointer;
    transition: 1s !important;  
    &:hover{
      transform: scale(1.1, 1.1) !important;
    }      
  }
  .alaska-name{
    top: 30%;
    font-family: 'sports';
  }
  .egypt-name{
    transform: translateX(500px);
    top: 45%;
    font-family: 'streamster';
    &:hover{
      transform: scale(1.1, 1.1) translateX(-120px) !important ;
    }       
  }
  .new-zeland-name{
    transform: translateX(500px);
    top: 70%;    
    font-family: 'cross-town';
    &:hover{
      transform: scale(1.1, 1.1) translateX(-50px) !important ;
    }     
  }  
  .zeland-name-slide{
    transition: 1s;
    transform: translateX(-50px) !important;
  } 
  .return-name{
    transition: 1s;
    transform: translateX(500px);  
  }

  .name-slide{
    transition: 1s;
    transform: translateX(-120px)!important;
  }   
  .alaska{
    transform: translateX(0%);      
    z-index: 630;
    position: relative;
    background-image: url('images/alaska-01.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    &:hover{
      cursor: pointer;
    }    
  }

  .egypt{
    transform: translateX(100%);     
    z-index: 665;
    position: relative;
    background-image: url('images/egypt-01.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  }

  .new-zeland{
    transform: translateX(100%);     
    z-index: 668;
    position: relative;
    background-image: url('images/new-zeland-01.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  }

}

#fifth{
  top: 750%;
  background-color: green;
  z-index: 950;
}

.first-down{
  transition: 2s;
  top: 0px !important;
  position: fixed;
}

.second-down{
  transition: 2s;
  top: 0px !important;
  position: fixed;
}

.first-up{
  position: absolute;
  transition: 1s;
  top: 60%;
}

.second-up{
  position: absolute;
  transition: 3s;
  top: 150%;
}


.last{
  position: absolute;
  transition: 2s;
  top: 90% !important;
}