$biruz: #61a08d;
$l-biruz: #7ac8b4;

body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden !important;
}

@font-face{
  font-family: 'helvetica';
  src: url('fonts/Helvetica.otf');
}

@font-face{
  font-family: 'arial-black';
  src: url('fonts/ArialBlack.ttf');
}

@font-face{
  font-family: 'arial-narrow';
  src: url('fonts/ArialNarrow.ttf');
}

@font-face{
  font-family: 'cross-town';
  src: url('fonts/CrossTown.ttf');
}

@font-face{
  font-family: 'sports';
  src: url('fonts/SportsWorld.ttf');
}

@font-face{
  font-family: 'stolsl';
  src: url('fonts/Stolzl-Regular.otf');
}

@font-face{
  font-family: 'streamster';
  src: url('fonts/Streamster.ttf');
}

.screen{
  position: absolute;
  width: 100%;
  .shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
}

#first{
  background-image: url('images/main.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  .big-logo{
    position: relative;
    width: 1100px;
    height: 400px;
    margin: 0px auto;
    transform: translateY(30%);
    .logo{
      margin: 0px auto;
      height: 245px;
      width: 245px;
      background-image: url('images/logo.png');
      background-size: cover;
      background-repeat: no-repat;
    }    
    .logo-text{
      color: white;
      font-family: 'helvetica';
      font-size: 150px;
      text-align: center;
    }
  }
}

.biruz{
  background-color: $biruz;
  .light{
    position: relative;
    height: 66%;
    width: 40%;
    background-color: $l-biruz;
    background-image: url('images/palma.png');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    top: 17%;
  }
  .text{
    position: absolute;
    height: 60%;
    margin-top: 13%;
    font-size: 90px;
    line-height: 1.2;
    letter-spacing: 8px;
    font-weight: 500;
    color: black;
    z-index: 10;
    font-family: 'helvetica';
    width: 34%;
    text-align: center;
  }
}


#second{
  top: 110%;
  .tree-cont{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    display: flex;
    .tree{
      height: 100%;
      width: 34%;
      background-size: cover;
    }
    .left{
      background-image: url('images/left.jpg');
      background-position: right;
    }
    .right{
      background-image: url('images/right.jpg');
      background-position: left;
    }
  }
}
.slide{
  transition: 2s;
  transform: translateX(0%) !important;
} 
.return{
  transition: 2s;
  transform: translateX(100%);    
}

#third{
  top: 150%;
  z-index: 50;
  width: auto;
  display: inline-block;
  .sea-01{
    position: relative;
    background-image: url('images/sea-01.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .sea-02{
    transform: translateX(100%);
    position: relative;
    background-image: url('images/sea-03.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  } 
  .sea-slide{
    transition: 2s;
    transform: translateX(0%);
  } 
  .sea-return{
    transition: 2s;
    transform: translateX(100%);    
  }
  .logo-cont{
    position: absolute;
    width: 270px;
    height: 60px;
    top: 20px;
    right: 30px;
    display: flex;
    flex-wrap: nowrap;
    .text{
      width: 210px;
      height: 60px;
      font-family: 'helvetica';
      color: white;
      font-size: 40px;
      padding-top: 10px;
    }
    .logo{
      height: 60px;
      width: 60px;
      background-image: url('images/logo.png');
      background-size: cover;
    }
  }
  .info-cont{
    position: relative;
    height: 300px;
    width: 1100px;
    margin: 0px auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: nowrap;
    .tours{
      min-width: 700px;
      max-width: 700px;
      height: 100%;
      .tour{
        height: 50%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .title{
          text-align: center;
          color: white;
          font-family: 'helvetica';
          font-size: 50px;
          padding-top: 60px;
        }
      }
      .first-tour{
        background-image: url('images/slim-01.png');
      }
      .second-tour{
        background-image: url('images/slim-02.jpg');
      }
    }
    .desc{
      width: 100%;
      height: 100%;
      .title{
        position: absolute;
        top: -10px;
        font-size: 38px;
        padding-left: 50px;
        font-family: 'stolsl';
        color: white;
      }
      p{
        color: white;
        font-family: 'Arial';
        font-weight: 100;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 40px;
        padding-top: 50px;
        line-height: 20px;
      }
    }
  }
}

#fourth{
  top: 450%;
  background-color: white;
  z-index: 150;
  width: 100%;
  display: inline-block;
  background-image: url('images/sky.png');
  background-size: cover;
  background-position: center;
  .hic-modal-window{
    height: 105%;
    width: 100%;
    position: absolute;
    z-index: 400;
    background-color: white;
    display: none;

    .theme{
      height: 100%;
      width: 100%;
      position: position;
    }
    .yellow-theme, .green-theme{
      display: inline-block;
      .desc-block{
        position: relative;
        height: 100%;
        min-width: 30%;
        max-width: 30%;
        width: 30%;
        background-color: grey;
      }
      .cover{
        position: relative;
        height: 100%;
        width: 70%;
        background-size: cover;
        background-position: center;
        top: 0px;       
      }
      .yellow-cover{
        background-image: url('images/yellow-01.jpg');
      }
    }
    .red-theme{
      display: none;
    }
    .yellow-theme{
      display: none;
    }
    .green-theme{
      display: none;
    }        
    .active{
      display: block !important;
    }
    .close-hic{
      position: absolute;
      height: 50px;
      width: 50px;
      top: 50px;
      right: 50px;
      background-size: cover;
      cursor: pointer;
      &:hover{
        transform: scale(1.1,1.1);
      }
    }
    .close-red{
      background-image: url('images/ui/close-red.svg');
    }
    .close-yellow{
      background-image: url('images/ui/close-yellow.svg');
    }
    .close-green{
      background-image: url('images/ui/close-green.svg');
    }    
  }
  .open{
    display: block !important;
  }
  .man{
    z-index: 260;
    position: absolute;
    height: 105%;
    width: 100%;
    background-image: url('images/man.png');
    background-size: cover;
    background-position: center;        
  }
  .logo-cont{
    position: absolute;
    width: 270px;
    height: 60px;
    margin-top: 20px;
    left: 30px;
    display: flex;
    flex-wrap: nowrap;
    z-index: 270;
    cursor: pointer;
    .text{
      width: 210px;
      height: 60px;
      font-family: 'helvetica';
      color: white;
      font-size: 40px;
      padding-top: 10px;
    }
    .logo{
      height: 60px;
      width: 60px;
      background-image: url('images/logo.png');
      background-size: cover;
    }
  }  
  .right{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('images/shadow.png');
    background-size: cover;
    background-position: left;
    z-index: 250;  
    .description{
      position: relative;
      height: 40%;
      width: 300px;
      top: 30%;
      left: 75px;
      color: white;
      &:hover{
        background-color: grey;
      }
      .title{
        font-size: 55px;
        font-family: 'arial-black';      
      }
      .text{
        padding-top: 15px;
        font-size: 15px;
        line-height: 1.5;
        font-family: 'Arial';
      }
    }
  }
  .name-tour{
    width: auto;
    position: absolute;
    color: white;
    font-size: 80px;
    right: 75px;
    z-index: 270;
    cursor: pointer;
    transition: 1s !important;  
    &:hover{
      transform: scale(1.1, 1.1) !important;
    }      
  }
  .alaska-name{
    top: 30%;
    font-family: 'sports';
  }
  .egypt-name{
    transform: translateX(500px);
    top: 45%;
    font-family: 'streamster';
    &:hover{
      transform: scale(1.1, 1.1) translateX(-120px) !important ;
    }       
  }
  .new-zeland-name{
    transform: translateX(500px);
    top: 70%;    
    font-family: 'cross-town';
    &:hover{
      transform: scale(1.1, 1.1) translateX(-50px) !important ;
    }     
  }  
  .zeland-name-slide{
    transition: 1s;
    transform: translateX(-50px) !important;
  } 
  .return-name{
    transition: 1s;
    transform: translateX(500px);  
  }

  .name-slide{
    transition: 1s;
    transform: translateX(-120px)!important;
  }   
  .alaska{
    transform: translateX(0%);      
    z-index: 155;
    position: relative;
    background-image: url('images/alaska-01.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
    &:hover{
      cursor: pointer;
    }    
  }

  .egypt{
    transform: translateX(100%);     
    z-index: 165;
    position: relative;
    background-image: url('images/egypt-01.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  }

  .new-zeland{
    transform: translateX(100%);     
    z-index: 165;
    position: relative;
    background-image: url('images/new-zeland-01.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100%;
    width: 100%;
  }

}

#fifth{
  top: 750%;
  background-color: green;
  z-index: 150;
}

.first-down{
  transition: 2s;
  top: 0px !important;
  position: fixed;
}

.second-down{
  transition: 2s;
  top: 0px !important;
  position: fixed;
}

.first-up{
  position: absolute;
  transition: 1s;
  top: 60%;
}

.second-up{
  position: absolute;
  transition: 3s;
  top: 150%;
}


.last{
  position: absolute;
  transition: 2s;
  top: 90% !important;
}