$biruz: #61a08d;
$l-biruz: #7ac8b4;
$sea: #244fb2;
$alaska: #cc1216;
$egypt: #cc9312;
$zealand: #3f8f36;
$l-sea: #d0ddfb;
$l-alaska: #fbd0d0;
$l-egypt: #fbf2d0;
$l-zealand: #d1face;
$sea-buy: #103178;
$alaska-buy: #770e10;
$egypt-buy: #cc9312;
$zealand-buy: #477142;  

.close-sea{
  background-image: url('images/ui/close-sea.svg');
}  
.close-hic, .close-sea{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50px;
  right: 50px;
  background-size: cover;
  cursor: pointer;
  z-index: 500;
  &:hover{
    transform: scale(1.1,1.1);
  }
}  
.theme{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.bali{
  display: none;
} 
.LA{
  display: none;
}
.red-theme{
  display: none;
}
.yellow-theme{
  display: none;
}
.green-theme{
  display: none;
}        
.active{
  display: flex !important;
  height: 100% !important;
  width: 100%;  
}
.bali{
  .cover{
    background-image: url('images/bali-01.jpg');
  }          
  .content-container{
    .title{
      color: $sea;
    }
    .star-line{
      .star{
        background-image: url('images/ui/star-sea.svg');
      }
      .empty-star{
        background-image: url('images/ui/star-sea-hide.svg');
      }
    }  
    .button-buy{
      background-color: $l-sea;
      color: $sea-buy;
    }      
  }
}
.red-theme{
  .slick-slider, .slick-list, .slick-track {
    height: 100%;
  }   
  .slick-slide{
    margin: 0px 0px;
  }
  .slick-dots {
      bottom: 40px;
      li{
        height: 20px !important;
        width: 20px !important;
        border-radius: 50%;
        background-color: $l-alaska;
        &:hover{
          background-color: $alaska;
        }
        &.slick-active{
          background-color: $alaska-buy;
        }
        button:before {
          content: none;  
        }
      }
  }      
  .close-hic{
    background-image: url('images/ui/close-red.svg');
  }          
  .alaska-01{
    background-image: url('images/alaska-01.jpg');
  }   
  .alaska-02{
    background-image: url('images/alaska-02.jpg');
  }   
  .alaska-03{
    background-image: url('images/alaska-03.jpg');
  }                       
  .red-slider{
    position: relative;
    height: 100%;
    width: 100%;
    .red-el{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      .content-container{
        .title{
          color: $alaska;
        }
        .star-line{
          .star{
            background-image: url('images/ui/star-red.svg');
          }
          .empty-star{
            background-image: url('images/ui/star-red-hide.svg');
          }
        }  
        .button-buy{
          background-color: $l-alaska;
          color: $alaska-buy;
        }      
      }
    }
  }
}

.yellow-theme{
  .close-hic{
    background-image: url('images/ui/close-yellow.svg');
  }  
  .cover{
    background-image: url('images/yellow-01.jpg');
  }          
  .content-container{
    .title{
      color: $egypt;
    }
    .star-line{
      .star{
        background-image: url('images/ui/star-yellow.svg');
      }
      .empty-star{
        background-image: url('images/ui/star-yellow-hide.svg');
      }
    }  
    .button-buy{
      background-color: $l-egypt;
      color: $egypt-buy;
    }      
  }
}
.green-theme{
  .close-hic{
    background-image: url('images/ui/close-green.svg');
  } 
  .cover{
    background-image: url('images/new-zealand-01.jpg');
  }        
  .content-container{
    .title{
      color: $zealand;
    }
    .star-line{
      .star{
        background-image: url('images/ui/star-green.svg');
      }
      .empty-star{
        background-image: url('images/ui/star-green-hide.svg');
      }
    }  
    .button-buy{
      background-color: $l-zealand;
      color: $zealand-buy;
    }      
  }      
}

.yellow-theme, .green-theme, .red-theme, .bali, .LA{
  .desc-block{
    position: relative;
    height: 100% !important;
    min-width: 30%;
    width: 30%;
    max-width: 30%;
    z-index: 410;
    background-color: white;
    .content-container{
      height: auto;
      width: 70%;
      margin-left: 15%;
      margin-top: 20%;
      .title{
        height: auto;
        font-weight: 500;
        font-size: 35px;
        line-height: 1.2;
        font-family: 'arial-black';
      }
      .text{
        padding-top: 20px;
        height: auto;
        font-family: 'calibri';
        font-size: '15px';
        color: black;
      }
      .star-line{
        margin-top: 30px;
        height: 40px;
        display: flex;
        flex-direction: row;
        .star, .empty-star{
          height: 40px;
          width: 40px;
          background-size: cover;
          background-position: center;
          cursor: pointer;
          &:not(:first-child){
            margin-left: 4px;
          }
        }
      }
      .button-buy{
        margin-top: 40px;
        width: 90%;
        height: 40px;
        cursor: pointer;
        &:hover{
          .butt-text{
            font-size: 25px;
            word-spacing: 7px;
            padding-top: 5px;
          }
        }
        .butt-text{
          transition: 0.7s ease-out;
          font-size:  20px;
          font-family: 'trebuchet';
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }
  .cover{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    top: 0px;  
    z-index: 410;     
  }
}