$biruz: #61a08d;
$l-biruz: #7ac8b4;
$sea: #068E8D;//#068E8D
$alaska: #cc1216;
$egypt: #cc9312;
$zealand: #3f8f36;
$l-sea: #d0ddfb;
$l-alaska: #fbd0d0;
$l-egypt: #fbf2d0;
$l-zealand: #d1face;
$sea-buy: #103178;
$alaska-buy: #770e10;
$egypt-buy: #cc9312;
$zealand-buy: #477142;  

$glo-size: 60px;

$full-desctop: 1400px;
$desctop: 1200px;

@mixin desctop {
  @media (min-width: #{$desctop}) {
    @content;
  }
}

@mixin full-desctop {
  @media (min-width: #{$full-desctop}) {
    @content;
  }
}

@mixin mobile{
  @media (min-width: 311px) and (max-width: 628px){
    @content;
  }
}

.bottom-globus{
  top: calc(100% - 80px) !important;
  transition: 1s;
}

.act-globus{
  z-index: 1800 !important;
  @include mobile{
    display: block !important;
  }
}
.modal-globus{
  z-index: 800;
  position: absolute;
  display: none;
  @include mobile{
    display: none;
    transition: 0.5s;
    display: block;
    height: $glo-size;
    width: $glo-size;
    top: calc((100% - #{$glo-size})/2);
    border-radius: 50%;
    margin-left: calc((100% - #{$glo-size})/2);
    background-size: cover;
    background-image: url('images/ui/globus.png');
  }    
}

.close-sea, .close-ski{
  background-image: url('images/ui/close-sea.svg');
}  
.close-hic, .close-sea, .close-ski{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50px;
  right: 50px;
  background-size: cover;
  cursor: pointer;
  z-index: 1900;
  @include mobile{
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    z-index: 1900 !important;
  }
  @include desctop{
    &:hover{
      transform: scale(1.1,1.1);
    }
  }
  @include full-desctop{
    &:hover{
      transform: scale(1.1,1.1);
    }
  }
}  
.theme{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  .shadow{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));

    z-index: 1800;
    @include mobile{
      z-index: 1100;
      display: block;
    }
  }
}
.bali{
  display: none;
} 
.LA{
  display: none;
}
.red-theme{
  display: none;
}
.yellow-theme{
  display: none;
}
.green-theme{
  display: none;
}  
    
.active{
  display: flex !important;
  height: 100% !important;
  width: 100%;  
  z-index: 1800 !important;
}

.bali , .LA, .hawaii, .point-lobos, .blue-theme{    
  .content-container{
    .title{
      color: $sea !important;
    }
    .star-line{
      .star{
        background-image: url('images/ui/star-sea.svg');
      }
      .empty-star{
        background-image: url('images/ui/star-sea-hide.svg');
      }
    }  
    .button-buy{
      background-color: $l-sea;
      color: $sea;
    }      
  }
}
.bali{
  .cover{
    background-image: url('images/bali-01.jpg');
  }        
}
.LA{
  .cover{
    background-image: url('images/LA.jpg');
  }  
}
.hawaii{
  .cover{
    background-image: url('images/hawaii.jpg');
  }  
}

.point-lobos{
  .cover{
    background-image: url('images/PointLobos.jpg');
  }    
}
.red-theme{
  .shadow{
    @include mobile{
      background: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,.3));
    }
  }
  .slick-slider, .slick-list, .slick-track {
    height: 100%;
  }   
  .slick-slide{
    margin: 0px 0px;
  }
  .slick-dots {
      bottom: 40px;
      @include mobile{
        display: none;
      }
      li{
        height: 20px !important;
        width: 20px !important;
        border-radius: 50%;
        background-color: $l-alaska;
        @include mobile{
          display: none !important;
        }        
        &:hover{
          background-color: $alaska;
        }
        &.slick-active{
          background-color: $alaska-buy;
        }
        button:before {
          content: none;  
        }
      }
  }      
  .close-hic{
    background-image: url('images/ui/close-red.svg');
  }          
  .alaska-01{
    background-image: url('images/alaska-01.jpg');
  }   
  .alaska-02{
    background-image: url('images/alaska-02.jpg');
  }   
  .alaska-03{
    background-image: url('images/alaska-03.jpg');
  }                       
  .red-slider{
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    .red-el{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      @include mobile{
        display: block;
        width: 270px;
      }
      .cover{
        background-color: grey;
      }
      .content-container{
        @include mobile{
          width: 250px;
          margin-top: 50px;
          margin-left: 55px;          
        }
        .title{
          color: $alaska;
        }
        .star-line{
          .star{
            background-image: url('images/ui/star-red.svg');
          }
          .empty-star{
            background-image: url('images/ui/star-red-hide.svg');
          }
        }  
        .button-buy{
          background-color: $l-alaska;
          color: $alaska-buy;
        }      
      }
    }
  }
}

.yellow-theme{
  .close-hic{
    background-image: url('images/ui/close-yellow.svg');
  }  
  .cover{
    background-image: url('images/yellow-01.jpg');
  }          
  .content-container{
    .title{
      color: $egypt;
    }
    .star-line{
      .star{
        background-image: url('images/ui/star-yellow.svg');
      }
      .empty-star{
        background-image: url('images/ui/star-yellow-hide.svg');
      }
    }  
    .button-buy{
      background-color: $l-egypt;
      color: $egypt-buy;
    }      
  }
}
.green-theme{
  .close-hic{
    background-image: url('images/ui/close-green.svg');
  } 
  .cover{
    background-image: url('images/new-zealand-01.jpg');
  }        
  .content-container{
    .title{
      color: $zealand;
    }
    .star-line{
      .star{
        background-image: url('images/ui/star-green.svg');
      }
      .empty-star{
        background-image: url('images/ui/star-green-hide.svg');
      }
    }  
    .button-buy{
      background-color: $l-zealand;
      color: $zealand-buy;
    }      
  }      
}


.yellow-theme, .green-theme, .blue-theme, .red-theme{
  .bottom-globus{
    top: calc(100% - 110px)!important;
  }
}
.theme, .yellow-theme, .green-theme, .red-theme, .blue-theme, .bali, .LA, .hawaii, .point-lobos{
  .act-desc{
    opacity: 1 !important;
  }
  .right-desc{
    @include mobile{
      animation: rightDesc 0.5s !important;
      // animation-delay: 0.5s;
    }
  }
  @keyframes rightDesc{
    0%{
      transform: translateX(0%); 
    }
    100%{
      transform: translateX(100%); 
    }
  }    
  .act-desc{
    @include mobile{
      display: 1 !important;
      transform: translateX(0%) !important;
      animation: slideDesc 1s;  
    }    
    @keyframes slideDesc{
      0%{
        transform: translateX(100%);
      }
      100%{
        transform: translateX(0%);
      }
    }
  }
  .desc-block{
    position: relative;
    height: 100% !important;
    min-width: 30%;
    width: 30%;
    max-width: 30%;
    background-color: white;
    display: block;
    @include mobile{
      opacity: 0;
      position: absolute;
      background-color: rgba(0,0,0,0);
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      height: calc(100% - 100px)!important; 
      z-index: 1800;  
      transition: 1s;
      transform: translateX(100%); 
    }
    .content-container{
      height: auto;
      width: 70%;
      margin-left: 15%;
      margin-top: 20%;
      @include mobile{
        margin-left: calc((100% - 250px)/2)
      }
      .title{
        height: auto;
        font-weight: 500;
        font-size: 35px;
        line-height: 1.2;
        font-family: 'arial-black';
      }
      .text{
        padding-top: 20px;
        height: auto;
        font-family: 'calibri';
        font-size: '15px';
        color: black;
        @include mobile{
          color: white;
          line-height: 1.5em;           
        }
      }
      .star-line{
        margin-top: 30px;
        height: 40px;
        display: flex;
        flex-direction: row;
        @include mobile{
          margin-top: 15px
        }
        .star, .empty-star{
          height: 40px;
          width: 40px;
          background-size: cover;
          background-position: center;
          cursor: pointer;
          &:not(:first-child){
            margin-left: 4px;
          }
        }
      }
      .button-buy{
        margin-top: 40px;
        width: 90%;
        height: 40px;
        cursor: pointer;
        @include mobile{
          width: 250px;
          margin-top: 15px
        }
        &:hover{
          .butt-text{
            font-size: 25px;
            word-spacing: 7px;
            padding-top: 5px;
          }
        }
        .butt-text{
          transition: 0.7s ease-out;
          font-size:  20px;
          font-family: 'trebuchet';
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }
  .cover{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    top: 0px;  
    z-index: 810;     
  }
  // .ski-cover{
  //   background-image: url('images/cov-01.jpg');
  // }
}